/* === VARIABLES
============================================ */
/* === GENERAL
============================================ */
html,
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  height: 100vh;
  font-weight: 400;
}

.btn {
  background-color: #0c79e2;
}

.btn:hover {
  background-color: #0c79e2;
}

input:not([type]),
input[type="text"]:not(.browser-default),
input[type="password"]:not(.browser-default),
input[type="email"]:not(.browser-default),
input[type="url"]:not(.browser-default),
input[type="time"]:not(.browser-default),
input[type="date"]:not(.browser-default),
input[type="datetime"]:not(.browser-default),
input[type="datetime-local"]:not(.browser-default),
input[type="tel"]:not(.browser-default),
input[type="number"]:not(.browser-default),
input[type="search"]:not(.browser-default),
textarea.materialize-textarea {
  margin-bottom: 20px;
  color: white;
}

/* meter {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    margin: 0 auto 1em;
    width: 100%;
    height: 0.5em;

    background: none;
    background-color: rgba(0, 0, 0, 0.1);
}

meter::-webkit-meter-bar {
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
}

meter[value="1"]::-webkit-meter-optimum-value {
    background: red;
}

meter[value="2"]::-webkit-meter-optimum-value {
    background: yellow;
}

meter[value="3"]::-webkit-meter-optimum-value {
    background: orange;
}

meter[value="4"]::-webkit-meter-optimum-value {
    background: green;
}

meter[value="1"]::-moz-meter-bar {
    background: red;
}

meter[value="2"]::-moz-meter-bar {
    background: yellow;
}

meter[value="3"]::-moz-meter-bar {
    background: orange;
}

meter[value="4"]::-moz-meter-bar {
    background: green;
} */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p {
  font-weight: 400;
}

.full-screen {
  height: 100%;
  width: 100%;
}

.wave-black {
  color: black;
}

::-moz-selection {
  background: #0c79e2;
  /* WebKit/Blink Browsers */
}

::selection {
  background: #0c79e2;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #0c79e2;
  /* Gecko Browsers */
}

/* === GLOBAL
============================================ */
.outer-div {
  padding: 30px;
  position: relative;
}

.inner-div {
  width: 60%;
  height: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: -ms-fit-content;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.full-width {
  width: 100%;
}

.center-img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 30px;
}

/* === PASSWORT METER
============================================ */
meter {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  margin: 0 auto 1em;
  width: 100%;
  height: 0.5em;

  /* Applicable only to Firefox */
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}

meter::-webkit-meter-bar {
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}

/* Normal browsers */
meter[value="1"] {
  background: red;
}
meter[value="2"] {
  background: orange;
}
meter[value="3"] {
  background: yellow;
}
meter[value="4"] {
  background: green;
}

/* Webkit based browsers */
meter[value="1"]::-webkit-meter-optimum-value {
  background: red;
}
meter[value="2"]::-webkit-meter-optimum-value {
  background: orange;
}
meter[value="3"]::-webkit-meter-optimum-value {
  background: yellow;
}
meter[value="4"]::-webkit-meter-optimum-value {
  background: green;
}

/* Gecko based browsers */
meter[value="1"]::-moz-meter-bar {
  background: red;
}
meter[value="2"]::-moz-meter-bar {
  background: orange;
}
meter[value="3"]::-moz-meter-bar {
  background: yellow;
}
meter[value="4"]::-moz-meter-bar {
  background: green;
}

/* === LOGIN PAGE
============================================ */
.login-grid .col {
  height: 100vh;
}

.login-grid .col:first-child {
  background: linear-gradient(134deg, #0f0f1b, #0c79e2);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
  color: white;
  text-align: center;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 4% 0%;
  }
  50% {
    background-position: 97% 100%;
  }
  100% {
    background-position: 4% 0%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 4% 0%;
  }
  50% {
    background-position: 97% 100%;
  }
  100% {
    background-position: 4% 0%;
  }
}

.login-grid .col:first-child img {
  width: 50%;
  margin-bottom: -20px;
}

.login-grid .col:first-child p {
  font-weight: 100;
}

.login-grid .col:last-child {
  background-color: #1d1d35;
}

.card {
  background-color: #2d2d42;
  color: white;
}

.card-content {
  padding: 50px;
}

.card-content h4 {
  margin-top: 0;
  margin-bottom: 30px;
}

.card-content button {
  width: 100%;
  margin-top: 25px;
}

.wave-login-btn {
  background-color: transparent;
  border: 1px solid #ffffff;
}

.wave-login-btn:hover {
  background-color: transparent;
}

/* === LOGIN
============================================ */
.wave-login {
  background: #1d1d35;
  width: 100%;
  height: 100%;
  position: absolute;
}

.wave-login-card {
  padding: 45px !important;
}

/* === DASHBOARD
============================================ */
.user-view p,
.user-view .wave-username a {
  color: white;
  text-align: center;
}

.wave-profile-img img {
  margin: 0 auto;
  margin-bottom: -15px;
}

.wave-sidenav {
  background-color: #1d1d35;
}

.wave-sidenav li:hover {
  background-color: #2d2d42;
}

.wave-sidenav li:first-of-type:hover {
  background-color: #1d1d35;
}

.wave-sidenav li > a,
.wave-sidenav li > a > i {
  color: white;
  font-weight: 600;
}

.wave-current {
  background-color: #2d2d42;
  border-left: 5px solid #0c79e2;
}

.wave-content {
  width: calc(100% - 300px);
  float: right;
  -webkit-transition: width 0.1s;
  transition: width 0.1s;
  padding-top: 30px;
}

@media screen and (max-width: 992px) {
  .wave-timeline {
    width: 100%;
  }
}

.wave-new-post-overlay {
  display: none;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
  position: fixed;
  z-index: 1000;
}

.wave-new-post-card {
  background-color: white;
}

.wave-new-post-card textarea,
.wave-new-post-card .input-field input {
  color: black;
}

.wave-new-post {
  margin-top: 20px;
  margin-bottom: 20px;
}

.wave-close-button {
  position: absolute;
  right: 27px;
  font-size: 180%;
  top: 21px;
  color: black;
}

.wave-post:first-of-type {
  margin-top: 30px;
}

.wave-post {
  margin-bottom: 30px;
}

.wave-post-img {
  width: 40px;
  height: 40px;
  float: left;
}

.wave-post-usr {
  margin-top: 9px !important;
  padding-left: 50px;
  font-size: 90%;
}

.wave-post-usr a {
  color: #b4b4b4;
}

.wave-post-txt {
  margin-top: 20px !important;
}

.wave-post-tags {
  margin-top: 20px;
}

.chip a {
  color: black;
}

.card-action {
  color: #b4b4b4;
  font-size: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flow-root;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.wave-post-since {
  float: left;
}

.wave-post-likes {
  float: right;
}

.wave-post-likes a {
  color: #b4b4b4 !important;
  margin-right: 5px !important;
}

.wave-likes {
  float: left;
}

/* === PROFILE
============================================ */
.wave-main-profile-img {
  width: 200px;
  margin: 0 auto;
  display: block;
  margin-top: 40px;
  margin-bottom: -10px;
}

.wave-profile-username {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.wave-profile-follower {
  float: right;
  margin-left: 20px;
}

.wave-profile-follows {
  float: left;
}
/*# sourceMappingURL=custom.css.map */
